table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: left;
    padding: 3px;
  }
  
  tr:nth-child(even){background-color: #666262}
  
  th {
    background-color: #4CAF50;
    color: white;
  }

  